/*======================
Fonts  
========================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/*======================
base styles
========================*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

/*======================
main banner 
========================*/
.main-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2D25A0;
    padding: 153px 140px 86px 156px;
}
.banner-content hgroup{
    margin-bottom: 27px;
}
.banner-content h1{
    font-size: 64px;
    color: #FFFFFF;
    margin: 0;
    line-height: 80px;
}
.boxed-btn{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 24px;
    background: #E02C6D;
}
.boxed-btn span{
    margin-left: 4px;
}
.banner-img img{
    width: 556.01px;
}

/*======================
players card
========================*/
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    padding: 70px 210px 165px 180px;
}
.single-card{
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.single-card img {
    width: 100%;
}
.single-card .player-name{
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
    margin: 16px 0 10px;
}
.single-card p{
    color: #6C6C6C;
}

/*======================
Highlight section
========================*/
.highlights{
    display: flex;
    align-items: center;
    padding: 0 156px 158px 182px;
}
.highlight-content{
    margin-right: 69px;
}
.highlight-content h2{
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
    margin-bottom: 8px;
}
.highlight-content p{
    color: #6C6C6C;
    line-height: 28px;
    margin-bottom: 24px;
}
.highlight-img img{
    width: 100%;
}