/*======================
Fonts  
========================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*======================
base styles
========================*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

/*======================
animation
========================*/
@keyframes move {
    from{
        left: 0;

    }
    to{
        left: 5px;
        color: teal;
    }
}

/*======================
main banner 
========================*/
.main-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2D25A0;
    padding: 153px 140px 86px 156px;
}
.banner-content hgroup{
    margin-bottom: 27px;
}
.banner-content h1{
    font-size: 64px;
    color: #FFFFFF;
    margin: 0;
    line-height: 80px;
}
.boxed-btn{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 24px;
    background: #E02C6D;
}
.boxed-btn span{
    position: relative;
    animation: move .5s ease-in-out 0.2s infinite alternate;
    animation-play-state: running;
    margin-left: 4px;
}
.boxed-btn:hover{
    color: teal;
    background: whitesmoke;
    transition: ease .6s;
}
.boxed-btn:hover span{
    left: 3px;
}
.banner-img img{
    width: 556.01px;
}

/*======================
players card
========================*/
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    padding: 70px 210px 165px 180px;
}
.single-card{
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.single-card img {
    width: 100%;
}
.single-card .player-name{
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
    margin: 16px 0 10px;
}
.single-card p{
    color: #6C6C6C;
    line-height: 26px;
}

/*======================
Highlight section
========================*/
.highlights{
    display: flex;
    align-items: center;
    padding: 0 156px 158px 182px;
}
.highlight-content{
    margin-right: 69px;
}
.highlight-content h2{
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
    margin-bottom: 8px;
}
.highlight-content p{
    color: #6C6C6C;
    line-height: 28px;
    margin-bottom: 24px;
}
.highlight-img img{
    width: 100%;
}

/*======================
Group area
========================*/
.group-area{
    padding: 0 230px;
    padding-bottom: 150px;
}
.group-title{
    font-size: 35px;
    color: #173562;
    margin-bottom: 40px;margin-left: 5%;
}
.groups{
    display: flex;
    justify-content: space-evenly;
}
.single-group-box {
    padding: 40px 20px;
    box-shadow: 0 10px 30px rgb(44 62 80 / 50%);
}
.group-no {
    margin-bottom: 22px;
    color: #969BAB;
    font-size: 30px;
}
.single-group-team{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.group-teams{
    display: flex;
}



/*======================
Sponsorship area
========================*/
.sponsor-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 45px;
}
.sponsor-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 156px 130px 182px;
}
.single-sponsor img{
    max-width: 150px;
}

/*======================
Footer area
========================*/
footer{
    text-align: center;
}
.footer-logo{
    width: 484px;
    margin: 0 auto;
}
.social-icon{
    margin: 20px 0;
}
.social-icon a{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    color: #969BAB;
    background-color: #E7E7E8;
    margin: 0 7px;
    height: 32px;
    width: 32px;
    line-height: 33px;
    border-radius: 50%;
}
.social-icon a:hover{
    color: #10437A;
    transition: .3s;
}
.copyright{
    color: #000000;
    font-size: 18px;
}


/*========================================
Responsive styles
==========================================*/
/* Mobail device styles */
@media screen and (max-width: 767px){
    .main-banner {
        padding: 46px 15px 62px 15px;
        flex-direction: column;
        align-items: unset;
    }
    .banner-content h1{
        font-size: 36px;
        line-height: 50px;
    }
    .banner-img img {
        width: 100%;
        margin-top: 50px;
    }
    .cards {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
        padding: 47px 15px 0;
    }

    .highlights {
        display: flex;
        flex-direction: column;
        padding: 60px 15px 10px;
    }
    .highlight-content {
        margin-right: 0;
    }
    .highlight-content h2{
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 0;
    }
    .highlight-content h2:nth-child(2){
        margin-bottom: 8px;
    }
    .highlight-img img {
        margin-top: 29px;
    }

    .group-area {
        padding: 15px;
    }
    .group-title{
        margin: 30px 0;
        font-size: 28px;
    }
    .groups{
        display: block;
    }
    .group-no {
        font-size: 24px;
    }
    .single-group-box {
        margin-bottom: 25px;
        box-shadow: 0px 0px 19px #f1f3fb;
    }
    .group-teams {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .sponsorship{
        margin-top: 10px;
        margin-bottom: 25px;
        padding: 15px;
    }
    .sponsor-title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .sponsor-content {
        padding: 0;
        flex-wrap: wrap;
    }
    .single-sponsor img {
        max-width: 75px;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-logo img {
        width: 290px;
        height: 58px;
    }
    .social-icon {
        margin: 5px 0;
    }
}

/* Tablet device styles */
@media screen and (main-width: 768px) and (max-width: 1023px){
    
}